

#main-container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #0c0053; /* Black background */
    color: #fff; /* White text color */
  }
  
  #header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .inputsection {
    margin-bottom: 15px;
  }
  
  .inputsection label {
    display: inline-block;
    width: 150px;
  }
  
  .inputsection input {
    width: calc(100% - 160px);
    padding: 5px;
    border-radius: 3px;
    border: 1px solid #ccc;
  }
  
  .education {
    margin-bottom: 20px;
  }
  
  .education h2 {
    margin-bottom: 10px;
  }
  
  #submit {
    text-align: center;
  }
  
  #submit ion-button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  #submit ion-button:hover {
    background-color: #0056b3;
  }
  
  #submit ion-alert {
    max-width: 400px;
  }
  
  /* File input button */
  input[type="file"] {
    display: none;
  }
  
  button {
    background-color:#0056b3 ;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    // font-size: large;
    cursor: pointer;
  }
  
  button:hover {
    background-color:  #00ff73;
  }
  